@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/*     'Open Sans', sans-serif;
        'Raleway', sans-serif;
*/
:root{
    /* FONTS*/

    --font-primary:'Raleway' , sans-serif;
    --font-secondary:'Open Sans', sans-serif;
    --font-size: 16px;
    --font-weight-regular:400;
    --font-weight-bold:700;

    /* COLORS */

    --primary-very-dark-blue: hsl(243, 87%, 12%);
    --primary-desaturated-blue: hsl(238, 22%, 44%);

    --accent-bright-blue: hsl(224, 93%, 58%);
    --accent-moderate-cyan: hsl(170, 45%, 43%);



    --neutral-light-grayish-blue: hsl(240, 75%, 98%);
    --neutral-light-gray: hsl(0, 0%, 75%);

}

*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: var(--font-size);
}

body {

}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: inherit;
}


.wrapper{
    width: min(100% -3rem , 1440px);

 
}

.header{

    font-family: var(--font-primary);
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    justify-content: space-between;

    margin-top: 1.5rem;

}

.header_nav{
    list-style: none;
    padding: 10px;
    margin: 10px;

    display: flex;

    gap: 3rem;
}

.hero{
    background: url(../images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding-bottom: 10rem;

}

.hero__container {
    display: flex;
    align-items: center;
}

.hero_title{
    padding-left:3rem;
    font-family: var(--font-primary );
    font-weight: var(--font-weight-bold);
    font-size: 2rem;

    color: var(--primary-very-dark-blue);
}

.hero_text{
    padding-left: 3rem;
    margin-top: 2rem;
    color: var(--primary-very-dark-blue);
    line-height: 1.5    ;
}

.hero_content form{
    padding: 3rem;
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    
}

.hero_content input[type=text]{
    
    width: 55%;

    padding: .5rem;

}

.hero_content input[type=submit]{
    color: var(--neutral-light-grayish-blue);
    font-weight: var(--font-weight-bold);
    padding: .5rem;
    border: none;
    background-color: hsl(224, 93%, 58%);
    width: 20%;
    border-radius: .2rem;

}

.hero_content img{
    padding-right: 3rem;
}

.collaboration{
    background-color: #F8F8FE;
   
    padding: 3rem;
    padding-top: 5rem;
    display: flex;
    align-items: center;

    padding-bottom: 6rem;
}   

.collaboration_content {
    display: flex;
    flex-direction: column  ;

}

.collaboration_title{
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);

    font-size: 2.3rem;
    margin-bottom: 2rem;
}

.collaboration_text{
    font-family: var(--font-secondary);
    margin-bottom: 2rem;

    width: 80%;
}

.how_works_button{
    display: flex;
    gap: .5rem;
    align-items: center;
    color: var(--accent-moderate-cyan);
    border-bottom: 1px solid var(--accent-moderate-cyan);
    padding-bottom: .2rem;
    width: 158px;
    margin-bottom: 3rem; 

}



.collaboration_testimonial{
    width: 60%;
    padding: 2rem;
    background-color: white;
    border-radius: .7rem;

    box-shadow: 0 0 10px var(--neutral-light-gray);
    
}

.collaboration_testimonial img{
    margin-bottom: .7rem;
}

.collaboration_testimonial_text{
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-regular);
    margin-bottom: 2rem;
}

.collaboration_testimonial_profile{
    display: flex;
    gap: 1.5rem;
    align-items: center;

}

.collaboration_testimonial_profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}


.collaboration_testimonial_profile_description h5{
    font-family: var(--font-weight-regular);
    font-weight: var(--font-weight-regular);
}

.early_access {
    background-color: var(--primary-desaturated-blue);
    
    display: flex;
    height: 250px;
    align-items: center;
    padding: 3rem;
    gap: 8rem;
    
}

.early_access--contend{

    color: var(--neutral-light-grayish-blue);
    width: 50%;
}

.early_access_title {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);

    margin-bottom: 1rem;
}

.early_access_text{
    font-family: var(--font-secondary);
}

.early_access_form {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

input[type="text"] {
    border: none;
    border-radius: 3px;
    padding: .6rem;

    box-shadow: 0px 0px 3px var(--primary-very-dark-blue);
}

input[type="submit"] {

    border: none;
    border-radius: 3px;
    padding: .6rem;


    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);

    background-color: var(--accent-bright-blue);
    color: var(--neutral-light-grayish-blue);
    box-shadow: 0px 0px 3px var(--primary-very-dark-blue);

    width: 30%;
}

.footer {
    background-color: var(--primary-very-dark-blue);
    color: var(--neutral-light-grayish-blue);
    padding: 3rem;

    font-family: var(--font-secondary);
}


.footer_content {

    margin-top: 2rem;
}


.footer_info {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.footer_content {
    display: flex;
    justify-content: space-around;
}

.footer_info_links {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.footer-info-social {
    display: flex;
    gap: 1.1rem;
}
    