@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif; */

:root {
  --font-primary:'DM Serif Display', serif;
  --font-secondary:'Karla', sans-serif; 
  --font-size: 16px;
  --font-weight-regular:400;
  --font-weight-bold:700;

  /* ### Primary */

  --primary-dark-violet: hsl(256, 26%, 20%);
  --primary-grayish-blue: hsl(216, 30%, 68%);

  /* ### Neutral */

  --neutral-very-dark-violet: hsl(270, 9%, 17%);
  --neutral-dark-grayish-violet: hsl(273, 4%, 51%);
  --neutral-very-light-gray: hsl(0, 0%, 98%);
}

*{
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size);
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper{
  width:  min(100% - 3rem , 1440px);
  margin: 0 auto;
}

.header {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  list-style: none;

  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: center;

  text-transform: uppercase;
  font-family: var(--font-secondary);
  color: var(--neutral-dark-grayish-violet);

}

.header__nav li:last-child {
  border: 2px solid var(--primary-dark-violet) ;
  padding: .5rem .8rem;
}

.hero {
  background-color: var(--primary-dark-violet);
}

.hero__container {
  display: flex;
  align-items: center;
  
}

.hero {
  /* background-image: url(../images/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; */
  
}

.hero__contend {
  color: var(--neutral-very-light-gray);

  width: 55%;
}

.hero__contend--title {

  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 4rem;
  
  margin-bottom: 2rem;
}

.hero__contend--text {
  width: 90%;

  font-family: var(--font-secondary);
  margin-bottom: 2rem;
}

.hero__contend--button {
  background-color: inherit;
  color: var(--neutral-very-light-gray);
  border: 1px solid var(--neutral-very-light-gray);
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-regular);

  padding: .5rem 1rem;
}

.hero__container img {
  position: relative;
  top: 6rem;
  z-index: 0;
}

.body {
  background-color: var(--neutral-very-light-gray);
  border: 1px solid red;
}

.body__container {
  background-color: inherit;
  border: 1px solid blue;

  margin-top: 20rem;
}

.body__contend--title {
  font-size: 3.5rem;
  margin-bottom: 3rem;

  font-weight: var(--font-weight-bold);
}

.body__contend--cards {
  display: flex;
  gap: 2.5rem;
}

.card__element {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5rem;
}

.card__element h3 {
  font-family: var(--font-primary);
  font-size: 1.5rem;
}

.card__element p {
  color: var(--neutral-dark-grayish-violet);
}

.body__contend--banner {
  margin-top: 10rem;

  background-color: var(--primary-dark-violet);
  color: var(--neutral-very-light-gray);

  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.body__contend--banner h2 {
  border: 1px solid red;
  font-size: 5rem;

  padding-right: 5rem;
}
